<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.barryholroyd.bluetoothchatdemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/btcd_icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".support.ApplicationGlobalState"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.barryholroyd.bluetoothchatdemo.activity_select.SelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.barryholroyd.bluetoothchatdemo.activity_chat.ChatActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            >
        </activity>
    </application>

</manifest>